html {
  font-family: Arial, Helvetica, sans-serif;
}

.max {
  display: grid;
  position: relative;
  max-width: 1000px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

h1 {
  margin: 0px;
}

body {
  display: grid;
  justify-content: center;
  background-color: #e7e7e7;
  justify-items: center;
  position: relative;
}

.bike {
width: 100%;
margin-bottom: -20px;
height: auto;
}

.bike {
  object-fit: cover;
  height: 110%;
}

.vantagens {
  background-color: white;
  padding: 40px;
  font-size: 1.2rem;
}

.uno {
  margin-left: -30px ;
  margin-bottom: -55px;
  margin-right: 5px;
}

.dos {
  margin-left: -30px ;
  margin-bottom: -50px;
  margin-right: 5px;

}

.tres {
  margin-left: -30px ;
  margin-bottom: -50px;
  margin-right: 5px;

}

.esfumacado {
  display: inline-block;
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.2);
  text-align: right ;
  background-image: url(/onda.svg);
  margin-bottom: 20px;
}

.esfumacado h1 {
  text-align: center;
  color: rgba(0, 0, 0, 0.2);
  margin-top: 8rem;
  background-image:url(/onda.svg);
  text-transform: uppercase;
}

.titulo {
  display: grid;
  justify-content: center;
  height: auto;
}

.foto img {
  margin-top: 3rem;
  height: 2rem;
  margin-bottom: 30px;
}

.nave {
  display: grid;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 50px;
  bottom: 20px;
  align-items: center;
  text-transform: uppercase;
}

h2 {
  margin-bottom: 0px;
}

.main {
  position: relative;
  display: grid;
  background-color: white;
  padding: 20px;
  text-align: right;
  font-size: 1.5rem;
  margin-bottom: -20px;
}

.main::after {
  content: "";
  display: block;
  height: 4px;
  width: 60px;
  background-color: #f02323;
  position: absolute;
  right: -30px;
  top: 20px;
}

.vermais {
  margin-top: -20px;
}

.vermais a {
  font-size: 1rem;
  position: relative;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 10px 20px;
  color: #fff;
  text-decoration: none;
  background-color: #d11e1e;
}

.vermais a:hover {
  background-color: #771212;
}

.nave a {
  display: inline-block;
  font-family: Arial;
  font-weight: 500;
  text-decoration: none;
  color: black;
  background-color: #fff;
  padding: 10px 30px;
  margin-right: 10px;
  border-radius: 4px;
  margin-top: 10px;
}

.nave a:focus {
outline-color: #f02323;
}

header a:hover {
  border: 1px solid #f02323;
  
}

ul {
  list-style: none;
}

.funciona:nth-child(odd) {
  background-color: #e7e7e7;
  
}



ul li:hover {
  border-left: 4px solid #d11e1e;
}

.rodape {
  background: #fff;
  text-align: center;
  font-size: 1.5rem;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: -230px;
  box-sizing: border-box;
  padding: 10px;
  margin-left: 0px;
  margin-right: 0px;
}

@media (max-width: 1000px) {
  .max {
    grid-template-columns: 1fr;
  }

  .esfumacado {
    margin-bottom: -20px;
    margin-top: 70px;
}

  .esfumacado h1 {
    margin-bottom: 100px;
  }

  .main::after {
    display: none;
  }
}